@(signupForm: Form[Application.Register], loginForm: Form[Application.Login])

@main(null) {


		<section id="homePage">
			<div class="container">
				<h2><b>Welcome</b> to BASE Central</h2>
				<div class="testimonials" data-appear-top-offset="-200" data-animated="fadeInUp">
						<div class="item">
							<div class="testim_content">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. </div>
						</div>
				</div>
			</div>
		</section>

}